mixin js(path)
    script(type='text/javascript', src=path)
mixin css(path)
    link(rel='stylesheet', href=path)
!!! 5
html
  head
    title Aspen
    +css('lib/codemirror/codemirror.css')
    +css('lib/bootstrap.min.css')
  body(style="padding: 30px;")
    // Wrap all page content here
    #wrap
      .container
        .navbar.navbar-default
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand Aspen
            .navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Playground
                li
                  a(href='#sample') Sample
                li
                  a(href='#slide') Slide
                li
                  a(href='#contact') Contact
        h2
            span#file-name program.c
            .pull-right
                input#file-open-dialog(type='file', style='display:none;')
                a#open.btn.btn-default Open
                | &nbsp;
                a#save.btn.btn-default Save
        p
          textarea#editor(rows="20", style="width:100%;")
        .panel
          .panel-heading
            h4 Output
                | &nbsp;
                a#compile.btn.btn-default Compile & run
                | &nbsp;
                a#clear.btn.btn-default Clear
          #output.panel-body
    // Include all compiled plugins (below), or include individual files as needed
    +js('lib/jquery.min.js')
    +js('lib/bootstrap.min.js')
    +js('lib/codemirror/codemirror.js')
    +js('lib/codemirror/display/placeholder.js')
    +js('lib/codemirror/mode/clike/clike.js')
    // JavaScript plugins (requires jQuery)
    +js('index.js')
